body {

}
.navbar .brand {
	padding: 33px 20px 13px;
	font-family: 'Stalemate', cursive;
	font-size: 4em;
	color: darkred;
	text-shadow: none;
	margin: 0;
}

.navbar .navbar-inner {
	background: white;
	color: red;
}
.navbar-form {
	margin-top: 23px;
	margin-left: 20px;
}
.navbar .btn, .navbar .btn-group {
	margin-top: 23px;
}
span.input-icon {
	display: inline-block;
	position: relative;
}
span.input-icon #nav-search-input {
	margin:0;
	border-color: rgb(111, 179, 224);
	border-width: 1px;
	width: 120px;
	border-radius: 4px !important;
	font-size: 13px;
	color: rgb(102, 102, 102) !important;
	z-index: 11;
	-moz-transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
}
span.input-icon #nav-search-input:focus{
	width: 280px;
}
.input-icon > input, .input-icon > input {
	padding-left: 24px;
	padding-right: 6px;
}
.input-icon > [class*="icon-"] {
	padding: 0 3px;
	z-index: 2;
	position: absolute;
	top: 1px;
	bottom: 1px;
	left: 3px;
	line-height: 28px;
	display: inline-block;
	color: rgb(144, 144, 144);
	font-size: 16px;
}
span.input-icon #nav-search-icon {
	color: rgb(111, 179, 224);
	font-size: 14px;
	line-height: 24px;
}
#landingPage {
	/*overflow: hidden;*/
	color: white;
	background: rgb(240,249,255); /* Old browsers */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZjMwMTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjY2YwNDA0IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,48,25,1) 0%, rgba(207,4,4,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,48,25,1)), color-stop(100%,rgba(207,4,4,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%);
	background: radial-gradient(ellipse at center, rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=1 );
}

#landingPage div.welcome_text {

	padding: 10px 0 30px 0;
	text-shadow: 1px 1px black;
	text-align: center;
	margin-top: 80px;
	height: 500px;
}

#landingPage div.welcome_text h2, #landingPage div.welcome_text h3 {
	color: white;
	s
	text-align: center;
	margin-top: 40px;
}
#landingPage div.welcome_text h2 {
	font-size: 3em;
	letter-spacing: -2px;
}

#landingPage div.welcome_text h3 {
	font-size: 1.7em;
	font-weight: 100;
	letter-spacing: -1px;
}
#landingPage .container-fluid {
	background-color: white;
}
#landingPage .welcome_subblock {
	color: black;
	text-shadow: 1px 0 1px grey;
}
#landingPage .welcome_subblock h3 {
	margin-top: 6px !important;
	color: black !important;
}
#landingPage .welcome_subblock i {
	margin-top: 15px;
	font-size: 5em;
	display: block;
	text-align: center;
}
#landingPage #signup_login {
	margin-top: 50px;
	position: relative;
}
#landingPage #signup_login input {
	padding: 9px;
	font-size: 16px;
	border-radius: 5px;
}
#landingPage #signup_login .input-block-level {
	padding: 20px 12px;
}
#landingPage #signup_login h4 {
	color: white;
	font-size: 1.5em;
	margin-left: -12px;
	margin-bottom: 16px;
}
#landingPage #signup p {

	font-size: .9em;
}
#landingPage #signup .note {
	margin-top: 7px;
	color: rgb(200,200,200);
	font-size: .9em;
}
#landingPage #login, #landingPage #signup {
	display: none;
}
#landingPage #signup {
	display: block;
}

}
/*500*/
.blue {
	color: rgb(71, 143, 202) !important;
}



