@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300');

body {

}
.label {

	min-height: auto;
}
.navbar {

}
.navbar .navbar-inner {
	background: transparent;
	color: black;
	border: none;
	box-shadow: none;
}
.navbar .nav > li > a, .navbar .brand {
	color: black;
	font-family: "Source Sans Pro", Helvetica;
	font-weight: 200;
	padding: 10px 15px 10px;
	font-size: 1.4em;
}

.navbar-form {
	margin-top: 23px;
	margin-left: 20px;
}

.navbar .btn, .navbar .btn-group {
	margin-top: 23px;
}

.movie-box {
	height: 200px;
	background: grey;
}

.heading {
	color: black;
	font-family: "Source Sans Pro", Helvetica;
	font-weight: 300;
	border-bottom: 2px solid #f89406;
	font-size: 2em;
	text-transform: capitalize;
}
h5.heading {
	font-size: 1.4em;
	border: none;
	margin-top: 30px;
}
.heading .icon-stack {
	float: right;
	text-shadow: 1px 1px 0px #666;
}
.icon-stack .icon-star {
	color: rgb(255, 224, 0);
	font-size: 2em !important;
}
.icon-stack .icon-value {
	color: white;
}
span.input-icon {
	display: inline-block;
	position: relative;
}
span.input-icon #nav-search-input {
	margin: 0;
	/*border-color: rgb(111, 179, 224);
	 border-width: 1px;*/
	border: none;
	width: 120px;
	border-radius: 4px !important;
	font-size: 13px;
	color: rgb(102, 102, 102) !important;
	z-index: 11;
	-moz-transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
	padding: 15px 6px 15px 28px;
	box-shadow: 0px 2px 0px rgb(255, 0, 0);
}
span.input-icon #nav-search-input:focus {
	width: 280px;
}
.input-icon > input, .input-icon > input {
	padding-left: 24px;
	padding-right: 6px;
	color: yellow;
}
span.input-icon #nav-search-icon {
	color: rgb(255, 55, 55);
	font-size: 14px;
	line-height: 24px;
	padding: 0 3px;
	z-index: 2;
	position: absolute;
	top: 3px;
	bottom: 1px;
	left: 3px;
	display: inline-block;
}
#landingPage {
	/*overflow: hidden;*/
	/*color: white;
	 background: rgb(240,249,255); /* Old browsers */
	/*background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZjMwMTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjY2YwNDA0IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	 background: -moz-radial-gradient(center, ellipse cover, rgba(255,48,25,1) 0%, rgba(207,4,4,1) 100%);
	 background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,48,25,1)), color-stop(100%,rgba(207,4,4,1)));
	 background: -webkit-radial-gradient(center, ellipse cover, rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%);
	 background: -o-radial-gradient(center, ellipse cover, rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%);
	 background: -ms-radial-gradient(center, ellipse cover, rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%);
	 background: radial-gradient(ellipse at center, rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%);
	 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=1 );*/*/

}
label em {
	color: red;
}
#landingPage div.welcome_text {

	padding: 10px 0 30px 0;
	text-shadow: 1px 1px black;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 50px;
	position: relative;
}

#landingPage div.welcome_text h2, #landingPage div.welcome_text h3 {
	color: black;
	font-family: "Source Sans Pro";
	font-weight: 200;
	text-shadow: none;
	text-align: center;
	margin-top: 40px;
}
#landingPage div.welcome_text h2 {
	font-size: 3em;
	letter-spacing: -2px;
}

#landingPage div.welcome_text h3 {
	font-size: 1.7em;
	font-weight: 100;
	letter-spacing: -1px;
}
input[type=text], textarea {
	box-shadow: none;
	border: none;
	border-radius: none;
	border-bottom: 1px dashed grey;
}
input[type=text]:hover, input[type=text]:focus, input:required:hover {
	box-shadow: none;
}
input:focus:invalid:focus, textarea:focus:invalid:focus, select:focus:invalid:focus {
	box-shadow: none;border-none;
}
textarea {
	border: 1px dashed grey;
}
.btn {
	font-family: "Source Sans Pro";
	font-weight: 200;
	font-size: 1.2em;
}
#landingPage .button_explore {
	position: absolute;
	bottom: 0;
	left: 16%;
	padding: 5%;
	font-size: 3em;
	font-family: "Source Sans Pro";
	font-weight: 200;
}
#landingPage .welcome_text .btn-success {
	padding: 2%;
}
#landingPage .welcome_subblock {
	color: black;
	text-shadow: 1px 0 1px grey;
}
#landingPage .welcome_subblock h3 {
	margin-top: 6px !important;
	color: black !important;
}
#landingPage .welcome_subblock i {
	margin-top: 15px;
	font-size: 5em;
	display: block;
	text-align: center;
}
#landingPage #signup_login {
	margin-top: 50px;
	position: relative;
}
#landingPage #signup_login input {
	padding: 9px;
	font-size: 1.2em;
	border-radius: 5px;
}
#landingPage #signup_login .input-block-level {
	padding: 20px 12px;
}
#landingPage #signup_login h4 {
	color: white;
	font-size: 1.5em;
	margin-left: -12px;
	margin-bottom: 16px;
}
#landingPage #signup p {

	font-size: .9em;
}
#landingPage #signup .note {
	margin-top: 7px;
	color: rgb(200,200,200);
	font-size: .9em;
}
#landingPage #login, #landingPage #signup {
	display: none;
}
#landingPage #signup {
	display: block;
}

/*///////////////////////////////////////////////////Profile////*/

#profile .profile_pic img {
	width: 100%;
	border: 3px white solid;
	box-shadow: 0 0 3px #999;
}
#profile .profile_social_links a {
	font-size: 1.4em;
	color: #f89406;
	text-decoration: none;
	padding: 3px 10px;
	-webkit-transition: .5s color;
}
#profile .profile_social_links a:hover, #profile .profile_social_links a:focus {
	color: lightblue;
}
#profile .profile_desc {
	text-indent: 50px;
	text-align: justify;
}
#the_crew {
	padding-top: 39px;
	border-top: 1px solid rgb(255, 165, 0);
}
/*500*/
.blue {
	color: rgb(71, 143, 202) !important;
}
#explore .container-fluid {

}

#explore .tags {
	background-color: rgb(55, 159, 21);
}
#explore  #movie-grid {
	list-style: none;
	padding: 20px 0;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}
#movie-grid li {
	display: inline-block;
	margin: 25px;
	vertical-align: top;
	position: relative;
}

#movie-grid li > a, #movie-grid li > a img {
	border: none;
	outline: none;
	display: block;
	position: relative;
}
#movie-grid li span.movie-name {
	display: block;
	height: 30px;
	text-align: left;
	font-weight: bold;
	text-transform: capitalize;
}

#movie-grid li span.tags {
	position: absolute;
	bottom: 0;
	left: 0;
}

/*<!-- <li itemscope itemtype ="http://schema.org/Movie">
 <iframe src="{{ values["shortfilms"][i]["youtube_link"] }}?rel=0" height="225" width="300" frameborder="0" allowfullscreen></iframe>
 <br/>
 <span itemprop="name">{{ values["shortfilms"][i]["name"] }}</span>
 <span class="label tags" itemprop="genre">{{ values["shortfilms"][i]["category"] }}</span>

 </li> -->*/
