body {

}
.navbar .brand {
	padding: 33px 20px 13px;
	font-family: 'Stalemate', cursive;
	font-size: 4em;
	color: darkred;
	text-shadow: none;
	margin: 0;
}
.navbar .brand.pull-right {
	font-size: 3em;
}
.navbar .brand.pull-right:hover {
	color: darkred;
}
.navbar .navbar-inner {
	background: white;
	color: red;
	border-bottom: 1px solid rgb(229, 229, 229);
}
.navbar-form {
	margin-top: 23px;
	margin-left: 20px;
}
.navbar .btn, .navbar .btn-group {
	margin-top: 23px;
}
span.input-icon {
	display: inline-block;
	position: relative;
}
span.input-icon #nav-search-input {
	margin: 0;
	border-color: rgb(111, 179, 224);
	border-width: 1px;
	width: 120px;
	border-radius: 4px !important;
	font-size: 13px;
	color: rgb(102, 102, 102) !important;
	z-index: 11;
	-moz-transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
}
span.input-icon #nav-search-input:focus {
	width: 280px;
}
.input-icon > input, .input-icon > input {
	padding-left: 24px;
	padding-right: 6px;
}
.input-icon > [class*="icon-"] {
	padding: 0 3px;
	z-index: 2;
	position: absolute;
	top: 1px;
	bottom: 1px;
	left: 3px;
	line-height: 28px;
	display: inline-block;
	color: rgb(144, 144, 144);
	font-size: 16px;
}
span.input-icon #nav-search-icon {
	color: rgb(111, 179, 224);
	font-size: 14px;
	line-height: 24px;
}
#landingPage {
	/*overflow: hidden;*/
	color: white;
	background: rgb(240,249,255); /* Old browsers */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZjMwMTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjY2YwNDA0IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,48,25,1) 0%, rgba(207,4,4,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,48,25,1)), color-stop(100%,rgba(207,4,4,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%);
	background: radial-gradient(ellipse at center, rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=1 );
}

#landingPage div.welcome_text {

	padding: 10px 0 30px 0;
	text-shadow: 1px 1px black;
	text-align: center;
	margin-top: 80px;
	height: 500px;
}

#landingPage div.welcome_text h2, #landingPage div.welcome_text h3 {
	color: white;
	s
	text-align: center;
	margin-top: 40px;
}
#landingPage div.welcome_text h2 {
	font-size: 3em;
	letter-spacing: -2px;
}

#landingPage div.welcome_text h3 {
	font-size: 1.7em;
	font-weight: 100;
	letter-spacing: -1px;
}
#landingPage .container-fluid {
	background-color: white;
}
#landingPage .welcome_subblock {
	color: black;
	text-shadow: 1px 0 1px grey;
}
#landingPage .welcome_subblock h3 {
	margin-top: 6px !important;
	color: black !important;
}
#landingPage .welcome_subblock i {
	margin-top: 15px;
	font-size: 5em;
	display: block;
	text-align: center;
}
#landingPage #signup_login {
	margin-top: 50px;
	position: relative;
}
#landingPage #signup_login input {
	padding: 9px;
	font-size: 16px;
	border-radius: 5px;
}
#landingPage #signup_login .input-block-level {
	padding: 20px 12px;
}
#landingPage #signup_login h4 {
	color: white;
	font-size: 1.5em;
	margin-left: -12px;
	margin-bottom: 16px;
}
#landingPage #signup p {

	font-size: .9em;
}
#landingPage #signup .note {
	margin-top: 7px;
	color: rgb(200,200,200);
	font-size: .9em;
}
#landingPage #login, #landingPage #signup {
	display: none;
}
#landingPage #signup {
	display: block;
}

/*///////////////////////////////////////////////////Profile////*/

#profile {
	background: darkred;
}
#profile .profile_page {
	background: white;
	min-height: 500px;
	margin-top: 100px;
	box-shadow: 1px 1px 2px black;
}
#profile .profile_pic {
	width: 200px;
	height: 200px;
	margin: auto;
	margin-top: -100px;
	border-radius: 50%;
	border: 10px rgb(139, 0, 0) solid;
}
#profile .profile_pic img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	box-shadow: 2px 2px 2px 1px rgb(0, 0, 0);
}
#profile .profile_leftpart {
	border-right: 10px darkred solid;
	min-height: 500px;
}
#profile .tags {
	background-color: grey;
	padding: 1% 2%;
	text-align: center;
	font-weight: bold;
	min-height:auto;
	text-shadow:0 -1px 0 rgba(0,0,0,0.25);
	box-shadow: 1px 1px 1px rgb(0, 0, 0);
}
/*500*/
.blue {
	color: rgb(71, 143, 202) !important;
}

.og-grid {
	list-style: none;
	padding: 20px 0;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

.og-grid li {
	display: inline-block;
	margin: 10px 5px 0 5px;
	vertical-align: top;
	height: 250px;
}

.og-grid li > a,
.og-grid li > a img {
	border: none;
	outline: none;
	display: block;
	position: relative;
}

.og-grid li.og-expanded > a::after {
	top: auto;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #ddd;
	border-width: 15px;
	left: 50%;
	margin: -20px 0 0 -15px;
}

.og-expander {
	position: absolute;
	background: #ddd;
	top: auto;
	left: 0;
	width: 100%;
	margin-top: 10px;
	text-align: left;
	height: 0;
	overflow: hidden;
}

.og-expander-inner {
	padding: 50px 30px;
	height: 100%;
}

.og-close {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

.og-close::before,
.og-close::after {
	content: '';
	position: absolute;
	width: 100%;
	top: 50%;
	height: 1px;
	background: #888;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

.og-close::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.og-close:hover::before,
.og-close:hover::after {
	background: #333;
}

.og-fullimg,
.og-details {
	width: 40%;
	float: left;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.og-details {
	padding: 0 40px 0 20px;
}

.og-fullimg {
	text-align: center;
}

.og-fullimg img {
	display: inline-block;
	max-height: 100%;
	max-width: 100%;
}

.og-details h3 {
	font-weight: 300;
	font-size: 52px;
	padding: 40px 0 10px;
	margin-bottom: 10px;
}

.og-details p {
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #999;
}

.og-details a {
	font-weight: 700;
	font-size: 16px;
	color: #333;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 10px 20px;
	border: 3px solid #333;
	display: inline-block;
	margin: 30px 0 0;
	outline: none;
}

.og-details a::before {
	content: '\2192';
	display: inline-block;
	margin-right: 10px;
}

.og-details a:hover {
	border-color: #999;
	color: #999;
}

.og-loading {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ddd;
	box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
	-webkit-animation: loader 0.5s infinite ease-in-out both;
	-moz-animation: loader 0.5s infinite ease-in-out both;
	animation: loader 0.5s infinite ease-in-out both;
}

@-webkit-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@-moz-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@media screen and (max-width: 830px) {

	.og-expander h3 { font-size: 32px; }
	.og-expander p { font-size: 13px; }
	.og-expander a { font-size: 12px; }

}

@media screen and (max-width: 650px) {

	.og-fullimg { display: none; }
	.og-details { float: none; width: 100%; }
	
}
