{% extends "layout.html" %}
{% block whole_width %}
<div class="container">

	<div class="row">
		<div class="span12">

			<ul id="movie-grid">
				
				{% for i in values["shortfilms"] %}
					<li itemscope itemtype ="http://schema.org/Movie">
							<span class="movie-name" itemprop="name">{{ values["shortfilms"][i]["name"] }}</span>
							<iframe src="{{ values["shortfilms"][i]["youtube_link"] }}?rel=0" height="225" width="300" frameborder="0" allowfullscreen></iframe>
						    <span class="label tags" itemprop="genre">{{ values["shortfilms"][i]["category"] }}</span>

					</li>
				
				{% endfor %}
			</ul>

		</div>
	</div>

	{% endblock %}

	{% block script %}

	
	{% endblock %}
