{% extends "layout.html" %}

{% block left_part %}
<div class="welcome_text">
	<h2>Welcome to Movie athena </h2>
	<h3>Upload and share your shortfilms</h3>

</div>
{% endblock %}

{% block right_part %}
<div id="signup_login">
	<div id="login">
		<h4>Login</h4>
		<form autocomplete="off" action="{{ url_for('login') }}" method="post">
			<input class="input-block-level" type="text" name="email" placeholder="Username"/>
			<input class="input-block-level" type="password" name="password" placeholder="Password"/>
			<input class="btn btn-success btn-block" type="submit" name="submit_login" value="login"/>
		</form>
	</div>

	<div id="signup">
		<h4>Sign up</h4>
		<form autocomplete="off" action="{{ url_for('login') }}" method="post">
			<input class="input-block-level" type="text" name="username" placeholder="Pick a username"/>
			<input class="input-block-level" type="email" name="email" placeholder="Your email"/>
			<input class="input-block-level" type="password" name="password" placeholder="Create a password"/>
			<p class="note">
				Tip: use at least one number and at least 7 characters.
			</p>
			<p>
				By clicking on "Sign up" below, you agree to the <a href="#">Terms of Service</a> and the <a  href="#">Privacy Policy.</a>
			</p>
			<input class="btn btn-success btn-block" type="submit" name="submit_login" value="Sign up"/>
		</form>
	</div>
</div>
{% endblock %}

{% block whole_width %}
<div class="container">
	<div class="row welcome_text">
		<div class="welcome_subblock span4">
			<i class="icon-cloud-upload"></i>
			<h3>Upload your Short Movie</h3>
			<p>
				Analyse , get Adivice
			</p>
		</div>
		<div class="welcome_subblock span4">
			<i class="icon-magic"></i>
			<h3>Start your Short Movie</h3>
			<p>
				Start your short movie with the best and exotic tools
			</p>
		</div>
		<div class="welcome_subblock span4">
			<i class="icon-group"></i>
			<h3>Largest Movie Community</h3>
			<p>
				Movieathena contains genuine artist from the Movie Industry
			</p>
		</div>

	</div>
</div>
{% endblock %}

