{% extends "layout.html" %}

{% block left_part %}

{% endblock %}

{% block right_part %}
<!-- 
 <div id="signup">
<h4>Sign up</h4>
<form autocomplete="off" action="{{ url_for('login') }}" method="post">
<input class="input-block-level" type="text" name="username" placeholder="Pick a username"/>
<input class="input-block-level" type="email" name="email" placeholder="Your email"/>
<input class="input-block-level" type="password" name="password" placeholder="Create a password"/>
<p class="note">
Tip: use at least one number and at least 7 characters.
</p>
<p>
By clicking on "Sign up" below, you agree to the <a href="#">Terms of Service</a> and the <a  href="#">Privacy Policy.</a>
</p>
<input class="btn btn-success btn-block" type="submit" name="submit_login" value="Sign up"/>
</form>
</div>
</div>
 -->
{% endblock %}

{% block whole_width %}


<div class="container">
	<div class="row-fluid">
		<div class="span12 welcome_text">
			<h2>Welcome to in30mins</h2>
			<h3>Showcase my movie</h3>



<div id="fb-root"></div>

<!--
  Below we include the Login Button social plugin. This button uses the JavaScript SDK to
  present a graphical Login button that triggers the FB.login() function when clicked.

  Learn more about options for the login button plugin:
  /docs/reference/plugins/login/ -->

<fb:login-button show-faces="false" width="400" max-rows="1"></fb:login-button>
            
			<form action="makemovie">
				<input type="text" class="span6" name="youtube_url" required placeholder="Paste your Youtube url" />
				<br>
				<input type="submit" class="btn btn-warning" value="Showcase"/>
			</form>

		</div>
		</div> 

		<div class="span12">
			<div class="span3 movie-box"></div>
			<div class="span3 movie-box"></div>
			<div class="span3 movie-box"></div>
			<div class="span3 movie-box"></div>
		</div>
<div id="fb-root"></div>
	</div>
</div>
{% endblock %}
