{% extends "layout.html" %}

{% block left_part %}

{% endblock %}

{% block right_part %}
<!-- <div id="signup_login">
<div id="login">
<h4>Login</h4>
<div id="fb-root"></div>
<button id="fb-auth">
Login
</button>
<div id="loader" style="display:none">

</div>
<br />
<div id="user-info"></div>
<br />
<div id="debug"></div>

<div id="other" style="display:none"> -->
<!--  <a href="#" onclick="showStream(); return false;">Publish Wall Post</a> |
<a href="#" onclick="share(); return false;">Share With Your Friends</a> |
<a href="#" onclick="graphStreamPublish(); return false;">Publish Stream Using Graph API</a> |
<a href="#" onclick="fqlQuery(); return false;">FQL Query Example</a>
-->
<!-- <br />
<textarea id="status" cols="50" rows="5">Write your status here and click 'Status Set Using Legacy Api Call'</textarea>
<br /> -->
<!-- <a href="#" onclick="setStatus(); return false;">Status Set Using Legacy Api Call</a> -->
<!-- </div>

</div> -->
<!-- <div id="signup">
<h4>Sign up</h4>
<form autocomplete="off" action="{{ url_for('login') }}" method="post">
<input class="input-block-level" type="text" name="username" placeholder="Pick a username"/>
<input class="input-block-level" type="email" name="email" placeholder="Your email"/>
<input class="input-block-level" type="password" name="password" placeholder="Create a password"/>
<p class="note">
Tip: use at least one number and at least 7 characters.
</p>
<p>
By clicking on "Sign up" below, you agree to the <a href="#">Terms of Service</a> and the <a  href="#">Privacy Policy.</a>
</p>
<input class="btn btn-success btn-block" type="submit" name="submit_login" value="Sign up"/>
</form>
</div>
</div> -->

{% endblock %}

{% block whole_width %}

<div class="container">
	<div class="row-fluid">
		<div class="span12 welcome_text">
			<h2>Welcome to in30mins</h2>
			<h3>Showcase my movie</h3>
			<form action="makemovie">
				<input type="text" class="span6" name="youtube_url" required placeholder="Paste your Youtube url" />
				<br>
				<input type="submit" class="btn btn-warning" value="Showcase"/>
			</form>
			<div class="fb-login-button" data-show-faces="true" data-width="200" data-max-rows="1"></div>
		</div>
		<div class="span12">
			<div class="span3 movie-box"></div>
			<div class="span3 movie-box"></div>
			<div class="span3 movie-box"></div>
			<div class="span3 movie-box"></div>
		</div>
<div id="fb-root"></div>
	</div>
</div>
{% endblock %}
