{% extends "layout.html" %}
{% block whole_width %}
<div class="container">

    <div class="row-fluid">
        <div class="span12">
            <h4>  {{ values["shortfilm"][1] }} </h4>
            Youtube link : {{ values["shortfilm"][3] }} <br/>
            Poster : {{ values["shortfilm"][4] }} <br/>
            Category : {{ values["shortfilm"][5] }} <br/>
            Rating : {{ values["shortfilm"][6] }} <br/>
            Date : {{ values["shortfilm"][7] }}

	<iframe src="{{ values["shortfilm"][3] }}?rel=0" frameborder="0" allowfullscreen></iframe>

            <h2>The Crew</h2>
            {% for artist in values["artists"] %}
            Name : {{ artist[0] }} <br/>
            Facebook : {{ artist[1] }} <br/>
            Role : {{ artist[2] }}<br/></br>
            {% endfor %}



        </div>
    </div>

    {% endblock %}

    {% block script %}


    {% endblock %}
