{% extends "layout.html" %}
{% block whole_width %}

<div class="container profile_page">
	<div class="row-fluid">
		<div class="span4 profile_pic">
			<img src='../static/assets_user/achu.jpg'>
		</div>

		<div class="span8">
			<div itemscope itemtype="http://data-vocabulary.org/Person">
				<h2 itemprop="name" class="heading">{{ values["name"] }} <small class="text-right"> ( {{ values["work_field"] }} )</small></h2>
				<div class="row-fluid">
					<div class="span8 profile_desc">
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum. Suspendisse vulputate aliquam dui. Nulla elementum dui ut augue. Aliquam vehicula mi at mauris. Maecenas placerat, nisl at consequat rhoncus, sem nunc gravida justo, quis eleifend arcu velit quis lacus. Morbi magna magna, tincidunt a, mattis non, imperdiet vitae, tellus. Sed odio est, auctor ac, sollicitudin in, consequat vitae, orci. Fusce id felis. Vivamus sollicitudin metus eget eros.</p>
					</div>
					<div class="span4">
						<div class="row-fluid text-right">
							<div class="span12 profile_social_links">
								<a title="Facebook Profile" href="http://www.facebook.com/{{ values["fb_link"] }}" itemprop="url"><i class="icon-facebook"></i></a>
								<a title="Twitter Profile" href="{{ values["twitter_link"] }}" itemprop="url"><i class="icon-twitter"></i></a>
								<a title="Youtube Channel" href="#" itemprop="url"><i class="icon-youtube"></i></a>
								<a title="{{ values["email"] }}" href="mailto:{{ values["email"] }}" itemprop="email"><i>@</i></a>

							</div>
							<div class="span12">
								<h5 class="heading">Badges</h5>
								<span class="label label-warning">Created {{ values["count"]+1 }} ShortMovies</span>
								<span class="label label-warning">10k Hit</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span12">
						<h5 class="heading"> My Works</h5>
						{% for i in values["shortfilms"] %}
						<iframe src="{{ values["shortfilms"][i]["youtube_link"] }}?rel=0" height="225" width="300" frameborder="0" allowfullscreen></iframe>
						<span>{{ values["shortfilms"][i]["name"] }}</span>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}

