{% extends "layout.html" %}
{% block whole_width %}

<div class="container profile_page">
	<div class="row-fluid">
		<div class="span4 profile_pic">
			<img src='../static/assets_user/achu.jpg'>
		</div>

		<div class="span8">
			<div itemscope itemtype="http://data-vocabulary.org/Person">
				<h2 itemprop="name" class="heading">{{ values["name"] }} <small class="text-right"> ( {{ values["work_field"] }} )</small></h2>
				<div class="row-fluid">
					<div class="span6">

					</div>
					<div class="span6">
						<div class="row-fluid text-right">
							<div class="span12 profile_social_links">
								<a title="Facebook Profile" href="http://www.facebook.com/{{ values["fb_link"] }}" itemprop="url"><i class="icon-facebook"></i></a>
								<a title="Twitter Profile" href="{{ values["twitter_link"] }}" itemprop="url"><i class="icon-twitter"></i></a>
								<a title="Youtube Channel" href="#" itemprop="url"><i class="icon-youtube"></i></a>
								<a title="{{ values["email"] }}" href="mailto:{{ values["email"] }}" itemprop="email"><i>@</i></a>

							</div>
							<div class="span12">
								<h5 class="heading">Badges</h5>
								<span class="label label-warning">Created {{ values["count"]+1 }} ShortMovies</span>
								<span class="label label-warning">10k Hit</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span12">
						<h5 class="heading"> My Works</h5>
						{% for i in values["shortfilms"] %}
						<iframe src="{{ values["shortfilms"][i]["youtube_link"] }}?rel=0" height="225" width="300" frameborder="0" allowfullscreen></iframe>
						<span>{{ values["shortfilms"][i]["name"] }}</span>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}

